{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>WIZZARDING</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
{% block content %}{% endblock %}
</body>
<footer>
	<div id="home-link" class="symbol-link" onclick="location='{% url 'home' %}'">&#9968;</div>
	<div id="contact-link" class="symbol-link" onclick="location='{% url 'contact' %}'">&#9993;</div>
	<div id="light-link" class="symbol-link" onclick="window.open('{% url 'light' %}')">&#128247;</div>
</footer>
</html>
