.container {
	padding-top: 20%;
	padding-bottom: 25%;
	padding-left: 20%;
	padding-right: 20%;
	background-image:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(225, 225, 225, 1) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-clip: content-box, padding-box;
}

.content {
	padding-left: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-right: 5%;
}

h2 {
	text-align: center;
}

li {
	padding-bottom: 35px;
	font-size: 1.2em;
}

input[type=text], input[type=email] {
	width: 100%;
	margin-bottom: 2%;
}

textarea {
	width: 100%;
	margin-bottom: 2%;
}

footer {
	text-align: right;
	margin-right: 1%;
}
